<h1> ♥️ Les Exercices de Math pour Paul ♥️ </h1>
<%# nav bar to choose excercises %>
<div data-controller="calculate">
  <nav>
    <button data-action="click->calculate#addition">Addition</button>
    <button data-action="click->calculate#soustraction">Soustraction</button>
    <button data-action="click->calculate#multiplication">Multiplication</button>
    <button data-action="click->calculate#division">Division</button>
    <button data-action="click->calculate#mixed">Mixed</button>
    <%# <button>Mixed Exercises</button> %>
  </nav>
  <hr>
  <div class=math-area >
    <ul data-calculate-target="calculateZone">

    </ul>
    <input class=active type="submit" value="Soumettre" data-action="click->calculate#checkAnswer">
  </div>

</div>
